<div>
  <nav class="navbar">
    <label><strong>  Howdy!  </strong></label>
    <label><strong><a routerLink="" class="nav-link">Create Account</a></strong></label>
  </nav>
</div>

<section>
  <nav>
<div style="width: 400px; margin: auto;">
  <div class="modify-form">
      <div class="form-group">
        <label for="name" class="filter-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="name"
          name="name"
        />
      </div>

      <div class="form-group">
        <label for="startDate" class="filter-label">Start Date</label>
        <input
          type="date"
          class="form-control"
          id="startDate"
          required
          [(ngModel)]="startDate"
          name="startDate"
        />
      </div>

      <div class="form-group">
        <label for="endDate" class="filter-label">End  Date </label>
        <input
          type="date"
          class="form-control"
          id="endDate"
          required
          [(ngModel)]="endDate"
          name="endDate"
        />
      </div>
      <div >
      <label for="endDate" class="filter-label">Category</label>
      <mat-form-field appearance="outline">
        <select matNativeControl [(ngModel)]="category" name="cat">
          <option value="" selected></option>
          <option *ngFor="let cat of categories" [value]="cat">
            {{cat}}
          </option>
        </select>
      </mat-form-field>
      </div>
      <div class="form-group">
      <label for="endDate" class="filter-label">Location</label>
      <mat-form-field appearance="outline">
        <select matNativeControl [(ngModel)]="location" name="loc">
          <option value="" selected></option>
          <option *ngFor="let loc of locations" [value]="loc">
            {{loc}}
          </option>
        </select>
      </mat-form-field>
      </div>
      <div class="form-group">
      <label for="endDate" class="filter-label">Organization</label>
      <mat-form-field appearance="outline">
        <select matNativeControl [(ngModel)]="organizer" name="org">
          <option value="" selected></option>
          <option *ngFor="let org of organizers" [value]="org">
            {{org}}
          </option>
        </select>
      </mat-form-field>
      </div>

      <br>
      <button (click)="getEvents()" class="btn btn-success">Search</button>
      <br>
      <br>
      <br>
     <div class="form-group">
        <label for="name" class="filter-label">Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          required
          [(ngModel)]="email"
          name="email"
        />
      </div>
      <br>
      <button (click)="addEmails()" class="btn btn-sucess">Subscribe to emails</button>
      <p>{{message}}</p>
    </div>
</div>
  </nav>


<article>
<div class="submit-form">
  <h4>Events</h4>
  <table style="width:100%">
    <tr>
      <th class="event-field">Event Name</th>
      <th class="event-field">Organizer</th>
      <th class="event-field">Description</th>
      <th class="event-field">Date</th>
      <th class="event-field">Time</th>
      <th class="event-field">Location</th>
      <th class="event-field">Category</th>
      <th class="event-field">Get Reminder</th>
    </tr>

    <tr *ngFor="let event of events; let i = index"
          (click)="setActiveEvent(event, i)"
        >
            <td>
              {{ event.name }}
            </td>
            <td>
              {{ event.organizer }}
            </td>
            <td>
              {{ event.description }}
            </td>
            <td>
              {{ event.date }}
            </td>
            <td>
              {{ event.time }}
            </td>
            <td>
              {{ event.location }}
            </td>
            <td>
              {{ event.category }}
            </td>
            <td>
            <button class="badge badge-danger mr-2" (click)="addEvent(event)">
              get Emails
            </button>
            </td>
    </table>
</div>
</article>
</section>
